/* General Styles */
body {
  font-family: 'Lora', serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  line-height: 1.8;
  min-height: 100vh;
  overflow-x: hidden;
  color: #000; 
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  color: #000;
  margin: 0;
}

/* Navigation Styles */
.nav {
  background-color: #000; 
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
  background-color: #e6e6e6;
  border-radius: 8px;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

/* Home Section Styles */
.home {
  background-color: #f8f8ff;
  color: #000; 
  padding: 80px 40px;
  text-align: center;
  flex: 1;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home .intro-text {
  color: #555;
  margin: 0 0 30px;
}

/* Profile Image Styles */
.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 5px solid #000;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.profile-image:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Button Styles */
.buttons {
  margin-top: 40px;
}

.btn {
  display: inline-block;
  padding: 14px 28px;
  margin: 10px;
  background-color: #000; 
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #555555;
  transform: translateY(-2px);
}

.btn-primary {
  background-color: #ff4500;
}

.btn-primary:hover {
  background-color: #ff6347;
}

/* Achievements Section Styles */
.achievements {
  background-color: #f8f8ff;
  color: #000; 
  padding: 100px 40px; 
  margin-bottom: 40px; 
}

.achievements h2 {
  color: #000; 
  margin-bottom: 30px;
  font-size: 32px; 
}

.achievements ul {
  list-style-type: none;
  padding: 0;
}

.achievements li {
  margin: 20px 0;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Contact Page Styles */
.contact-page {
  min-height: auto;
  background-color: #f8f8ff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.contact-us {
  background-color: #f8f8ff;
  color: #000; 
  padding: 20px; 
  margin-bottom: 0; 
}

.contact-us h2 {
  color: #000; 
  margin-bottom: 30px;
  font-size: 32px; 
}

.contact-us p,
.contact-us ul {
  color: #555;
  margin: 0;
  font-size: 18px; 
}

.contact-us ul {
  list-style-type: none;
  padding: 0;
}

.contact-us li {
  margin: 20px 0;
}
/* Footer Styles */
.footer { 
  margin-top: 0;
  padding: 0.5rem; /* Reduce the padding */
  text-align: center;
  width: 100%;
  box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.2);
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-links {
  margin-top: 5px; /* Reduce the margin */
}

.footer-links a {
  color: #000000;
  text-decoration: none;
  margin: 0 8px;
  transition: color 0.3s, background-color 0.3s; 
  background-color: #ffffff;
  padding: 8px 16px; /* Reduce the padding */
  border-radius: 6px; /* Adjust the border radius */
}

.footer-links a:hover {
  color: #7f7f7f;
  background-color: #ffffff; 
  cursor: pointer;
  transform: scale(1.05); 
}


/* Additional Styles */
.box-style {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #000; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Typing Animation */
.typing-animation {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid orange; 
  white-space: nowrap;
  letter-spacing: .15em;
  animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; } 
}

/*  Text Style */
.fixed-text {
  display: inline-block;
  margin-right: 10px; 
}
/* Projects Section Styles */
.projects {
  background-color: #f8f8ff;
  color: #333;
  padding: 80px 40px;
  text-align: center;
}

.projects h2 {
  color: #000; /* Changed to richer black */
  margin-bottom: 30px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-item {
  background-color: #ffffff;
  color: #000; /* Changed to richer black */
  padding: 30px;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 80%;
  max-width: 800px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-item:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
  .projects {
    padding: 40px 20px;
  }

  .project-item {
    width: 100%;
  }

  .project-image {
    height: auto;
    max-height: 300px;
  }
}

/* Intro Text Container */
.intro-text-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
body {
  font-family: 'Lora', serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  line-height: 1.8;
  min-height: 100vh;
  overflow-x: hidden;
  color: #000; 
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  color: #000; 
  margin: 0;
}

.nav {
  background-color: #000; 
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
}

.nav a:hover {
  background-color: #848484;
  color: #ffffff;
  border-radius: 5px;
}

.home {
    background-color: #f8f8ff;
    color: #000; 
    padding: 80px 40px;
    text-align: center;
    flex: 1;
    margin-bottom: 0;
}

.home .intro-text {
  color: #555;
  margin: 0 0 30px;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 5px solid #000;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.profile-image:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.buttons {
  margin-top: 40px;
}

.btn {
  display: inline-block;
  padding: 14px 28px;
  margin: 10px;
  background-color: #000; /* Changed to richer black */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #555555;
  transform: translateY(-2px);
}

.btn-primary {
  background-color: #ff4500;
}

.btn-primary:hover {
  background-color: #ff6347;
}

.achievements {
  background-color: #f8f8ff;
  color: #000; 
  padding: 100px 20px; 
  margin-bottom: 1px; 
}

.achievements h2 {
  color: #000; 
  margin-bottom: 30px;
  font-size: 32px; /
}

.achievements ul {
  list-style-type: none;
  padding: 0;
}

.achievements li {
  margin: 20px 0;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}
.contact-page {
  background-color: #f8f8ff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.contact-us {
  background-color: #f8f8ff;
  color: #000; 
  padding: 10px; 
  margin-bottom: 20px;
}

.contact-us h2 {
  text-align: center;
  color: #000; 
  margin-bottom: 30px;
  font-size: 32px; 
}

.contact-us p,
.contact-us ul {
  text-align: center;
  color: #555;
  margin: 0;
  font-size: 18px; 
}

.contact-us ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.contact-us li {
  margin: 20px 0;
}

.btn-primary {
  background-color: #ff4500;
  color: #fff;
  text-decoration: none;
  padding: 14px 28px;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
  background-color: #ff6347;
  transform: translateY(-2px);
}


.btn-primary {
  background-color: #ff4500;
  color: #fff;
  text-decoration: none;
  padding: 14px 28px;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
  background-color: #ff6347;
  transform: translateY(-2px);
}


.nav {
  background-color: #000; 
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #e6e6e6;
  border-radius: 8px;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}
/* Typing Animation */
.typing-animation {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid orange; 
  white-space: nowrap;
  letter-spacing: .15em;
  animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; } /
}

/* Fixed Text Style */
.fixed-text {
  display: inline-block;
  margin-right: 10px; /
}

/* Intro Text Container */
.intro-text-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

